<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>{{ user_data.my_full_name }}</title>
	<link rel="stylesheet" href="{{ theme_path }}/static/css/styles_home.css" type="text/css" charset="utf-8">
	<link REL="SHORTCUT ICON" HREF="{{ theme_path }}/static/favicon.ico">
	<link href='http://fonts.googleapis.com/css?family=Neuton&subset=latin' rel='stylesheet' type='text/css'>
	
	<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', '{{ user_data.google_analytics_id }}']);
	_gaq.push(['_setDomainName', '{{ user_data.google_analytics_domain }}']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
</head>

<body>
<div id="content">
	<div id="text">
		<table border="0" bordercolor="#FFFFFF">
			<tr>
				<td class="bio_title drop-shadow raised"></a>
					<h1>{{ user_data.my_full_name }}</h1>
					<ul>
						{% for a_contact in user_data.my_contact_info %}
						<li><a href="{{ a_contact.url }}" target="_blank">{{ a_contact.title }}</a></li>
						{% endfor %}
					</ul>
				</td>
				<td><img class="photo raised rotated" src="{{ user_data.my_image_url }}?s=160" alt="this is me!"/></td>
			</tr>
			<tr>
				<td class="bio">
					<ul class="drop-shadow lifted">
						<li><strong>...does:</strong></li>
						{% for a_cv in user_data.my_cv %}
						<li><a href="{{ a_cv.url }}" target="_blank">{{ a_cv.title }}</a> - {{ a_cv.description }}</li>
						{% endfor %}
					</ul>
					
					<ul class="drop-shadow lifted">
						<li><strong>...finds interesting:</strong></li>
						{% for an_interest in user_data.my_interests %}
						<li><a href="{{ an_interest.url }}" target="_blank">{{ an_interest.title }}</a> - {{ an_interest.description }}</li>
						{% endfor %}
					</ul>
				</td>
			</tr>
			<tr>
				<td align="right">
					<img alt="I playing with GAE from time to time" src="{{ theme_path }}/static/images/appengine-noborder-120x30.gif"/>
					<p class="simplymelink">Using <a href="https://github.com/menny/SimplyMe" target="_blank">SimplyMe</a></p>
				</td>
			</tr>
		</table>
	</div>
</div>

</body>
</html>
